body{
background: black;
width: 700px;
height: 800px;
margin: auto;
margin-top: 60px;
box-sizing: border-box;
}
.uno , .dos , .tres{
  margin-right: 25px;
}
.post{
  background: white;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;}
 
.post-header > i{
  font-size: 40px;
  margin:0;
  padding: 10px 10px;
}
.head-rigo{
  display: inline-block;
}
.head-rigo h3, .head-rigo h5{
  margin: 0;
}
.puntos{
  font-size: 25px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.post-body p{
  background: white;
  margin: 0;
  padding-bottom: 20px;
}
.post-body > p:first-child{
  margin-bottom: 10px;
}
.imagen{
  display: flex;
}
.post-icons{
  display: flex;
  background: white;
  font-size: 30px;
  position: relative;
  padding: 10px 10px 10px 10px;
}
.post-icons > .cuatro{
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.post-body {
  padding: 10px;
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}


